@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  background: #333333;
  overflow: auto;
}
.logo{
    float: left;
    padding-top: 18px;
    padding-left: 18px;
}
.logo h1{
  color:#fff;
  font-size: 28px;
}
.logo h1 i{
  padding-right: 5px;
  color:#D68B4A;
}
nav{
 float: right;
}
nav ul.navbar{
  list-style: none;
}
nav ul.navbar li{
  float: left;
}
nav ul.navbar li a{
  color: #fff;
  text-decoration: none;
  display:block;
  padding: 25px 20px;
  font-size: 18px;
}
nav ul.navbar li a:hover, nav ul.navbar li.active a{
  color:#D68B4A;
  background: #444444;
}
#hero{
  text-align: center;
  background: url('../img/room.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  min-height:  600px;
  padding: 170px;
}
#hero .hero-heading{
  font-size: 66px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
}
#hero .enjoy{
  color: #D68B4A;
}
#hero p{
  font-size: 20px;
  color: #fff;
  padding-bottom: 30px;
}
#hero .about-hotel{
  text-decoration: none;
  color: #D68B4A;
  padding: 13px 20px;
  background: #fff;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
}
#hero .about-hotel:hover{
   background: #D68B4A;
   color: #fff;
   border-radius: 10px;
}
#history{
  height: 500px;
}
#history .history-image{
  float: left;
  width: 50%;
  height: 500px;
}
.right-side{
  float: left;
  width: 50%;
  height: 500px;
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
  background: #333;
  text-align: center;
}
.right-side .history-heading{
  font-size: 28px;
  color: #fff;
  border-bottom: 1px solid #D68B4A;
  border-bottom-width: medium;
  border-bottom-style: dotted;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.history-heading .the-history{
  color: #D68B4A;
}
.right-side p{
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.4px;
  line-height: 30px;
  padding-bottom: 20px;
}
.right-side .history{
  background: #D68B4A;
  color:#fff;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
}
.benefits{
  height: 400px;
}
.benefit{
  width:33.33%;
  float: left;
  background: #f4f4f4;
  text-align:center;
  padding: 50px 30px;
  display: inline-block;
}
.benefit i{
  font-size: 46px;
  padding-bottom: 10px;
}
.benefit h3{
  padding-top: 10px;
  padding-bottom: 40px;
}
.box{
  background: #D68B4A;
}
.benefit p{
  font-size: 18px;
  color: #333;
}
.clearfix{
  clear: both;
}
footer{
  text-align: center;
  background: #333;
  color:#fff;
  display: block;
  padding: 15px 0;
  font-size: 17px;
}
/* About Section */
#about-hotel .about-section{
   float:left;
   width:60%;
   padding:0 40px;
   padding-top: 30px;
}
#about-hotel .about-image{
  float: right;
  padding: 10px 0;
  padding-right: 10px;
  width: 40%;
}
#about-hotel .about-hotel{
  font-size: 48px;
  color: #333;
  padding:20px 0;
}
#about-hotel .about-hotel span{
  color: #D68B4A;
}
#about-hotel p{
  color:#333;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.about-image img{
  width:100%;
  border-radius: 50%;
  padding-bottom: 10px;
}
#text{
  background:url('../img/photo_2021-06-14_10-38-57.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  padding-top: 70px;
}
#text h3{
  text-align: center;
  color: #fff;
  font-weight:bold;
  font-size: 42px;
  padding-bottom: 30px;
}
#text .image-box{
  background: #f8a72d;
  color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;

}
#text img{
  float: left;
  width: 100px;
  border-radius: 50%;
}
#text .image-box p{
  padding: 20px 0;
  line-height: 1.7;
  padding-left: 110px;
  padding-top:8px;
}
/* contact */
#contact-us{
  padding: 30px 30px;
}
#contact-us h3{
  font-size: 42px;
  padding-bottom: 20px;
}
#contact-us h3 span{
  color:#D68B4A;
}
#contact-us p{
  letter-spacing: 1.4px;
  padding-bottom: 20px;
}
#contact-us .form-group{
  padding-bottom: 20px;

}
#contact-us .form-group labe1{
  font-size: 18px;
  color: #333;
}
#contact-us .form-group input, #contact-us .form-group textarea{
  width: 100%;
  border: 1px solid #333;
  padding: 10px 0;
  margin-top: 10px;
}
#contact-us .btn{
  padding: 15px 20px;
  background: #333;
  color:#fff;
  font-size:20px;
  border: none;
  border-radius: 30%;

}
#contact-us .btn:hover{
  background: #D68B4A;
  color: #333;
  border: none;
}
#map{
  height: 80vh;
}
.hotel-map{
  width: 100%;
  height: 100%;
  border: 0;
}
.benefit{
  width:33.33%;
  float: left;
  text-align:center;
  padding: 50px 30px;
}

.benefit svg{
  font-size: 46px;
  padding-bottom: 10px;
}
.benefit h3{
  padding-top: 10px;
  padding-bottom: 40px;
}

.address{
  background:#444444;
  color: #fff;
}
.benefit p{
  font-size: 18px;
  color: #fff;
}
footer h4{
  font-size: 30px;
  color: #f3f3f3;
  padding-top: 20px;
}
h4 span{
   color: #D68B4A;
}
